Blueprints/AjaxUserComment_Spredsheet_Scenario.json
{
    "name": "Ajax User Comment - Spreadsheet",
    "flow": [
        {
            "id": 52,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1039190,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Ajax User Comment - Spreadsheet"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "chatIdNumber",
                        "type": "text"
                    },
                    {
                        "name": "timeElapsed",
                        "type": "text"
                    },
                    {
                        "name": "question",
                        "type": "text"
                    },
                    {
                        "name": "imageKey",
                        "type": "text"
                    },
                    {
                        "name": "comment",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 26094
            },
            "mapper": {
                "key": "{{52.imageKey}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Images"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Artist",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "year",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "seriesName",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "copyright",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "FeatureKey",
                        "type": "text",
                        "label": null,
                        "default": "12815a9bb8e5",
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "interaction",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "DisplayedText",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "selectWords",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "sliderEmotions",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    },
                    {
                        "name": "HazuId",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "theme-key",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "source",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "NextImageKey",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Questions",
                        "spec": [
                            {
                                "name": "Question1",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Question2",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Question3",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": null,
                        "required": false
                    },
                    {
                        "name": "Typo-Background",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "secondQuestion",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "secondQuestion Select List",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "third Question Callback",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 26093
            },
            "mapper": {
                "key": "{{21.`theme-key`}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Themes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Name",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "HazuId",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "color",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "icon",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Questions",
                        "spec": [
                            {
                                "name": "Question 1",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Question 2",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Question 3",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "Question 4",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 26102
            },
            "mapper": {
                "key": "{{21.FeatureKey}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Features"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Name",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Interaction",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "FeatureTitle",
                "scope": "roundtrip",
                "value": "{{23.Name}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "FeatureTitle",
                        "type": "any",
                        "label": "FeatureTitle"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{21.interaction}}",
                "casesTable": [
                    {
                        "output": "Theme Question",
                        "pattern": "message"
                    },
                    {
                        "output": "Chatbot Question",
                        "pattern": "chatbot"
                    },
                    {
                        "output": "Emotion Wheel",
                        "pattern": "emotion"
                    },
                    {
                        "output": "Select Emotions",
                        "pattern": "words"
                    },
                    {
                        "output": "Select Options",
                        "pattern": "select"
                    },
                    {
                        "output": "AB Values",
                        "pattern": "yesorno"
                    },
                    {
                        "output": "Slider Values",
                        "pattern": "slider"
                    },
                    {
                        "output": "Original",
                        "pattern": "none"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Select Interaction"
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 40,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{ifempty(21.`secondQuestion Select List`; \"words\")}}",
                "casesTable": [
                    {
                        "output": "26cf2e2255fb",
                        "pattern": "words"
                    },
                    {
                        "output": "{{21.`secondQuestion Select List`}}",
                        "pattern": "{{21.`secondQuestion Select List`}}"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 41,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 38474
            },
            "mapper": {
                "key": "{{40.output}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Emotions"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Emotions",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{21.interaction}}",
                "casesTable": [
                    {
                        "output": "{{21.selectWords}}",
                        "pattern": "select"
                    },
                    {
                        "output": "{{join(41.Emotions; \",\")}}",
                        "pattern": "words"
                    },
                    {
                        "output": "{{21.selectWords}}",
                        "pattern": "yesorno"
                    },
                    {
                        "output": "{{join(21.sliderEmotions; \",\")}}",
                        "pattern": "slider"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 31,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{31.output}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Tools - Switch"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 33,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{ifempty(if(52.chatIdNumber = 2; 21.`secondQuestion Select List`; \"none\"); \"none\")}}",
                "casesTable": [
                    {
                        "output": "{{join(41.Emotions; \",\")}}",
                        "pattern": "{{21.`secondQuestion Select List`}}"
                    }
                ],
                "elseOutput": "{{34.text}}",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 35,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 33,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{33.output}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Tools - Switch"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 54,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Set Date",
                "scope": "roundtrip",
                "value": "{{now}}"
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Set Date",
                        "type": "any",
                        "label": "Set Date"
                    }
                ]
            }
        },
        {
            "id": 55,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Time Elapsed",
                "scope": "roundtrip",
                "value": "{{52.timeElapsed / 1000}}"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Time Elapsed",
                        "type": "any",
                        "label": "Time Elapsed"
                    }
                ]
            }
        },
        {
            "id": 53,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 52
            },
            "mapper": {
                "Name": "{{22.Name}}",
                "text": "{{35.text}}",
                "year": "{{21.year}}",
                "Title": "{{21.Title}}",
                "Artist": "{{21.Artist}}",
                "output": "{{28.output}}",
                "comment": "{{52.comment}}",
                "Set Date": "{{54.`Set Date`}}",
                "question": "{{52.question}}",
                "FeatureTitle": "{{24.FeatureTitle}}",
                "Time Elapsed": "{{55.`Time Elapsed`}}",
                "chatIdNumber": "{{52.chatIdNumber}}",
                "secondQuestion": "{{21.secondQuestion}}",
                "third Question Callback": "{{21.`third Question Callback`}}",
                "secondQuestion Select List": "{{21.`secondQuestion Select List`}}"
            },
            "metadata": {
                "designer": {
                    "x": 4200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Webhooks - Custom webhook"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 47,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{53.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 4500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2078217
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "0": "{{47.Name}}",
                    "1": "{{47.Artist}}",
                    "2": "{{47.Title}}",
                    "3": "{{47.year}}",
                    "4": "{{47.FeatureTitle}}",
                    "5": "{{if(47.chatIdNumber = 1 & 47.secondQuestion = \"select\"; \"Select Options\"; if(47.chatIdNumber = 1 & 47.secondQuestion = \"emotion\"; \"Emotion Wheel\"; 47.output))}}",
                    "6": "{{47.comment}}",
                    "7": "{{47.question}}",
                    "8": "{{47.`Time Elapsed`}}",
                    "9": "{{47.`Set Date`}}",
                    "10": "{{47.text}}"
                },
                "sheetId": "{{47.Name}}-{{47.Artist}}",
                "spreadsheetId": "1XyB-_TbNR3A1cR3SxHv6AUZflJEpIYmRjryVW24rOUk",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 4800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "AA"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "AB"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "AC"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "AD"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "AE"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "AF"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "AG"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "AH"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "AI"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "AJ"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "AK"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "AL"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "AM"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "AN"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "AO"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "AP"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "AQ"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "AR"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "AS"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "AT"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "AU"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "AV"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "AW"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "AX"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "AY"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "AZ"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "BA"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "BB"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "BC"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "BD"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "BE"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "BF"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "BG"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "BH"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "BI"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "BJ"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "BK"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "BL"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "BM"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "BN"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "BO"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "BP"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "BQ"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "BR"
                                        },
                                        {
                                            "name": "70",
                                            "type": "text",
                                            "label": "BS"
                                        },
                                        {
                                            "name": "71",
                                            "type": "text",
                                            "label": "BT"
                                        },
                                        {
                                            "name": "72",
                                            "type": "text",
                                            "label": "BU"
                                        },
                                        {
                                            "name": "73",
                                            "type": "text",
                                            "label": "BV"
                                        },
                                        {
                                            "name": "74",
                                            "type": "text",
                                            "label": "BW"
                                        },
                                        {
                                            "name": "75",
                                            "type": "text",
                                            "label": "BX"
                                        },
                                        {
                                            "name": "76",
                                            "type": "text",
                                            "label": "BY"
                                        },
                                        {
                                            "name": "77",
                                            "type": "text",
                                            "label": "BZ"
                                        },
                                        {
                                            "name": "78",
                                            "type": "text",
                                            "label": "CA"
                                        },
                                        {
                                            "name": "79",
                                            "type": "text",
                                            "label": "CB"
                                        },
                                        {
                                            "name": "80",
                                            "type": "text",
                                            "label": "CC"
                                        },
                                        {
                                            "name": "81",
                                            "type": "text",
                                            "label": "CD"
                                        },
                                        {
                                            "name": "82",
                                            "type": "text",
                                            "label": "CE"
                                        },
                                        {
                                            "name": "83",
                                            "type": "text",
                                            "label": "CF"
                                        },
                                        {
                                            "name": "84",
                                            "type": "text",
                                            "label": "CG"
                                        },
                                        {
                                            "name": "85",
                                            "type": "text",
                                            "label": "CH"
                                        },
                                        {
                                            "name": "86",
                                            "type": "text",
                                            "label": "CI"
                                        },
                                        {
                                            "name": "87",
                                            "type": "text",
                                            "label": "CJ"
                                        },
                                        {
                                            "name": "88",
                                            "type": "text",
                                            "label": "CK"
                                        },
                                        {
                                            "name": "89",
                                            "type": "text",
                                            "label": "CL"
                                        },
                                        {
                                            "name": "90",
                                            "type": "text",
                                            "label": "CM"
                                        },
                                        {
                                            "name": "91",
                                            "type": "text",
                                            "label": "CN"
                                        },
                                        {
                                            "name": "92",
                                            "type": "text",
                                            "label": "CO"
                                        },
                                        {
                                            "name": "93",
                                            "type": "text",
                                            "label": "CP"
                                        },
                                        {
                                            "name": "94",
                                            "type": "text",
                                            "label": "CQ"
                                        },
                                        {
                                            "name": "95",
                                            "type": "text",
                                            "label": "CR"
                                        },
                                        {
                                            "name": "96",
                                            "type": "text",
                                            "label": "CS"
                                        },
                                        {
                                            "name": "97",
                                            "type": "text",
                                            "label": "CT"
                                        },
                                        {
                                            "name": "98",
                                            "type": "text",
                                            "label": "CU"
                                        },
                                        {
                                            "name": "99",
                                            "type": "text",
                                            "label": "CV"
                                        },
                                        {
                                            "name": "100",
                                            "type": "text",
                                            "label": "CW"
                                        },
                                        {
                                            "name": "101",
                                            "type": "text",
                                            "label": "CX"
                                        },
                                        {
                                            "name": "102",
                                            "type": "text",
                                            "label": "CY"
                                        },
                                        {
                                            "name": "103",
                                            "type": "text",
                                            "label": "CZ"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (mauro_kiener@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "AA"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "AB"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "AC"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "AD"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "AE"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "AF"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "AG"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "AH"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "AI"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "AJ"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "AK"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "AL"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "AM"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "AN"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "AO"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "AP"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "AQ"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "AR"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "AS"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "AT"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "AU"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "AV"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "AW"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "AX"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "AY"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "AZ"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "BA"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "BB"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "BC"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "BD"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "BE"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "BF"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "BG"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "BH"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "BI"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "BJ"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "BK"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "BL"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "BM"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "BN"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "BO"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "BP"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "BQ"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "BR"
                            },
                            {
                                "name": "70",
                                "type": "text",
                                "label": "BS"
                            },
                            {
                                "name": "71",
                                "type": "text",
                                "label": "BT"
                            },
                            {
                                "name": "72",
                                "type": "text",
                                "label": "BU"
                            },
                            {
                                "name": "73",
                                "type": "text",
                                "label": "BV"
                            },
                            {
                                "name": "74",
                                "type": "text",
                                "label": "BW"
                            },
                            {
                                "name": "75",
                                "type": "text",
                                "label": "BX"
                            },
                            {
                                "name": "76",
                                "type": "text",
                                "label": "BY"
                            },
                            {
                                "name": "77",
                                "type": "text",
                                "label": "BZ"
                            },
                            {
                                "name": "78",
                                "type": "text",
                                "label": "CA"
                            },
                            {
                                "name": "79",
                                "type": "text",
                                "label": "CB"
                            },
                            {
                                "name": "80",
                                "type": "text",
                                "label": "CC"
                            },
                            {
                                "name": "81",
                                "type": "text",
                                "label": "CD"
                            },
                            {
                                "name": "82",
                                "type": "text",
                                "label": "CE"
                            },
                            {
                                "name": "83",
                                "type": "text",
                                "label": "CF"
                            },
                            {
                                "name": "84",
                                "type": "text",
                                "label": "CG"
                            },
                            {
                                "name": "85",
                                "type": "text",
                                "label": "CH"
                            },
                            {
                                "name": "86",
                                "type": "text",
                                "label": "CI"
                            },
                            {
                                "name": "87",
                                "type": "text",
                                "label": "CJ"
                            },
                            {
                                "name": "88",
                                "type": "text",
                                "label": "CK"
                            },
                            {
                                "name": "89",
                                "type": "text",
                                "label": "CL"
                            },
                            {
                                "name": "90",
                                "type": "text",
                                "label": "CM"
                            },
                            {
                                "name": "91",
                                "type": "text",
                                "label": "CN"
                            },
                            {
                                "name": "92",
                                "type": "text",
                                "label": "CO"
                            },
                            {
                                "name": "93",
                                "type": "text",
                                "label": "CP"
                            },
                            {
                                "name": "94",
                                "type": "text",
                                "label": "CQ"
                            },
                            {
                                "name": "95",
                                "type": "text",
                                "label": "CR"
                            },
                            {
                                "name": "96",
                                "type": "text",
                                "label": "CS"
                            },
                            {
                                "name": "97",
                                "type": "text",
                                "label": "CT"
                            },
                            {
                                "name": "98",
                                "type": "text",
                                "label": "CU"
                            },
                            {
                                "name": "99",
                                "type": "text",
                                "label": "CV"
                            },
                            {
                                "name": "100",
                                "type": "text",
                                "label": "CW"
                            },
                            {
                                "name": "101",
                                "type": "text",
                                "label": "CX"
                            },
                            {
                                "name": "102",
                                "type": "text",
                                "label": "CY"
                            },
                            {
                                "name": "103",
                                "type": "text",
                                "label": "CZ"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 57,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{47.chatIdNumber}}",
                "casesTable": [
                    {
                        "output": "second{{ifempty(capitalize(47.secondQuestion); \"None\")}}",
                        "pattern": "1"
                    },
                    {
                        "output": "third{{ifempty(capitalize(47.`third Question Callback`); \"None\")}}",
                        "pattern": "2"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 5100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 60,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "EmotionId",
                "scope": "roundtrip",
                "value": "{{if(47.chatIdNumber = 1 & 57.output = \"secondSelect\"; 47.`secondQuestion Select List`; \"zero\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 5400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "EmotionId",
                        "type": "any",
                        "label": "EmotionId"
                    }
                ]
            }
        },
        {
            "id": 59,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 38474
            },
            "mapper": {
                "key": "{{60.EmotionId}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 5700,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Emotions"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Emotions",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 63,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{47.output}}",
                "casesTable": [
                    {
                        "output": "yes",
                        "pattern": "Theme Question"
                    },
                    {
                        "output": "{{if(57.output = \"thirdWordCloud\"; \"yes\"; \"no\")}}",
                        "pattern": "Chatbot Question"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 6000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 66,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2078217
            },
            "mapper": {
                "from": "drive",
                "sheetId": "{{47.Name}}-{{47.Artist}}",
                "sortOrder": "asc",
                "spreadsheetId": "1XyB-_TbNR3A1cR3SxHv6AUZflJEpIYmRjryVW24rOUk",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 6300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Dialogues on Humanity - User Comments"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (mauro_kiener@hotmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Enter a Spreadsheet ID and Sheet Name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ]
            }
        },
        {
            "id": 68,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 66
            },
            "mapper": {
                "6": "{{66.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 6600,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Search Rows"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 69,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Comments",
                "scope": "roundtrip",
                "value": "{{map(68.array; 6)}}"
            },
            "metadata": {
                "designer": {
                    "x": 6900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Comments",
                        "type": "any",
                        "label": "Comments"
                    }
                ]
            }
        },
        {
            "id": 71,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{57.output}}",
                "casesTable": [
                    {
                        "output": "{{57.output}};={{59.Emotions}}",
                        "pattern": "secondSelect"
                    },
                    {
                        "output": "{{57.output}};=none",
                        "pattern": "secondNone"
                    },
                    {
                        "output": "{{57.output}};=wheel",
                        "pattern": "secondEmotion"
                    },
                    {
                        "output": "{{57.output}};=balken",
                        "pattern": "thirdBalken"
                    },
                    {
                        "output": "{{57.output}};={{69.Comments}}",
                        "pattern": "thirdWordCloud"
                    },
                    {
                        "output": "{{57.output}};=none",
                        "pattern": "thirdNone"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 7200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 72,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{47.output}}",
                "casesTable": [
                    {
                        "output": "{{71.output}}",
                        "pattern": "Chatbot Question"
                    },
                    {
                        "output": "{{69.Comments}}",
                        "pattern": "Theme Question"
                    }
                ],
                "elseOutput": "",
                "useRegExpMatch": false
            },
            "metadata": {
                "designer": {
                    "x": 7500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 73,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{72.output}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 7800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}