Blueprints/SelectEmotion_Scenario.json
{
    "name": "SelectEmotion Callback",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1028321,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Slider Select Callback"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "imageKey",
                        "type": "text"
                    },
                    {
                        "name": "sliderValues",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 38001,
                "continueWhenNoRes": true
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "imageKey",
                            "b": "{{1.imageKey}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Word Cloud"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.9.16/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.9.16/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "imageKey",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "wordCloud",
                                "spec": {
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                "type": "array",
                                "label": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Selected Emotions",
                "scope": "roundtrip",
                "value": "{{join(1.selectedEmotions; \",\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Selected Emotions",
                        "type": "any",
                        "label": "Selected Emotions"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 38001
            },
            "mapper": {
                "key": "{{ifempty(9.key; )}}",
                "data": {
                    "imageKey": "{{1.imageKey}}",
                    "wordCloud": "{{ifempty(add(9.data.wordCloud; 11.`Selected Emotions`); 11.`Selected Emotions`)}}"
                },
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "data": {
                            "nested": {
                                "wordCloud": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Word Cloud"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "imageKey",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "wordCloud",
                                "spec": {
                                    "name": "value",
                                    "type": "text"
                                },
                                "type": "array",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 38001
            },
            "mapper": {
                "key": "{{10.key}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 1206,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Word Cloud"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "imageKey",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "wordCloud",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{10.key}};={{12.wordCloud}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1518,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}